[workspace]
resolver = "2"
members = ["ubitwarden", "ubw"]

[workspace.package]
version = "0.0.14"
edition = "2024"

[workspace.dependencies]
anyhow = { version = "1.0", features = ["backtrace"] }
base64 = "0.22"
bitwarden-crypto = "2.0"
bitwarden-encoding = "2.0"
clap = { version = "4.5", features = ["derive"] }
derive_more = { version = "2.1", features = ["display"] }
dialoguer = "0.12"
dirs = "6.0"
ed25519-dalek = "2.2"
libc = "0.2"
log = "0.4"
nix = { version = "0.30", features = ["user"] }
reqwest = { version = "0.12", default-features = false, features = [
  "json",
  "rustls-tls"
] }
rstaples = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_repr = "0.1"
signature = "2.2"
ssh-agent-lib = "0.5"
tabled = "0.20"
thiserror = "2.0"
tokio = { version = "1.48", features = ["full"] }
totp-rs = { version = "5.7", features = ["otpauth"] }
whoami = "1"

[workspace.lints.clippy]
arithmetic_side_effects = "warn"
expect_used = "warn"
missing_errors_doc = "allow"
needless_pass_by_ref_mut = "warn"
pedantic = { level = "warn", priority = -1 }
unwrap_used = "warn"
