[package]
name = "ubw"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { version = "1.0", features = ["backtrace"] }
clap = { version = "4.5", features = ["derive"] }
log = "0.4.29"
reqwest = { version = "0.12", features = ["json"] }
rstaples = "0.3.1"
serde = "1.0.228"
serde_json = "1.0.145"
thiserror = "2.0"
tokio = { version = "1.48", features = ["full"] }
toml = "0.9.8"
