[package]
name = "ubw"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = { version = "1.0", features = ["backtrace"] }
bitwarden-crypto = "1.0"
clap = { version = "4.5", features = ["derive"] }
derive_more = { version = "2.1", features = ["display"] }
dirs = "6.0"
log = "0.4"
reqwest = { version = "0.12", features = ["json"] }
rstaples = "0.3"
serde = "1.0"
serde_json = "1.0"
serde_repr = "0.1"
tabled = "0.20"
thiserror = "2.0"
tokio = { version = "1.48", features = ["full"] }
toml = "0.9"

[lints.clippy]
arithmetic_side_effects = "warn"
expect_used = "warn"
missing_errors_doc = "allow"
pedantic = { level = "warn", priority = -1 }
unwrap_used = "warn"
