name: Build

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

env:
    CARGO_TERM_COLOR: always

jobs:
    build:
        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest]
        runs-on: ${{ matrix.os }}

        steps:
            - uses: actions/checkout@v4

            - name: Install Linux dependencies
              if: runner.os == 'Linux'
              run: sudo apt-get update && sudo apt-get install -y libx11-xcb-dev

            - name: Build
              run: cargo build --release

            - name: Run tests
              run: cargo test --release

            - name: Check formatting
              run: cargo fmt --all -- --check

            - name: Run clippy
              run: cargo clippy --all-targets --all-features -- -D warnings
